.container{
  max-width: 1000px;
  margin-left: 5%;
  margin-top: 20px;
  margin-left: 20%;
  background: #FFF;
  border-radius: 5px;
  max-width: 800px;
  padding: 15px 5px 5px 40px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.445);
}